:root{
--main-color:#fa5c58;
--border:#fe4a46;
}
body{
height: fit-content;
width: 100%
}
html{
scroll-behavior: smooth;
}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
border: none;
outline: none;
list-style: none;
text-decoration: none;
font-family: sans-serif;
}

.container{
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

@media (min-width: 768px){
.container{
width: 750px
}
}

@media (min-width: 992px){
.container{
width: 970px
}
}

@media (min-width: 1200px){
.container{
width: 1170px
}
}

header.header{
min-height: 72px;
padding: 10px 20px;
min-height: 72px;
position: absolute;
left: 0;
top: 0;
z-index: 0987;
width: 100%;
}

@media (max-width: 992px){
.logo{
width: 100px !important
}
.menu-logo{
font-size: 80px !important;
}
}
nav{
display: flex ;
justify-content: space-between;
align-items: center;
position: relative;

}

nav a.logo-container .logo{
width: 70px;

}


.menu-logo{
color: #fff;
position: absolute;
right: 10px;
top: 50%;
cursor: pointer;
font-size: 50px;
transform: translate(-50% , -50%);
}

@media (max-width: 992px){
#close{
font-size: 70px !important
}
}
.links-content{
position: fixed;
right: -20px;
top:0;
height:calc(100vh);
background: #444;
width:350px;
max-width: 100%;
text-align: center;
padding: 30px;
right: -50%;
transition: 0.5s;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.links-content h3{
color: #fff;
font-size: 30px;
font-weight: normal;
margin: 40px 0 ;

}
.links-content ul {
margin-bottom: 30px
}
.links-content ul li{
padding-bottom: 20px;
}
.links-content ul li a{
color: #fff;
font-size: 20px;
transition: 0.3s;

}
.links-content ul li a:hover {
color: var(--main-color)
}
.social i:hover{
background: var(--main-color) !important
}
 .social {
margin-top: 90px
}
.social i{
color: #555;
padding: 10px;
margin-left: 10px;
background: #fff;
border-radius: 50%;
font-size: 19px;
cursor: pointer;
transition: 0.3s
}


@media (max-width: 992px){
.links-content{
width: 100%;
right: -100%;
transition: 0.6s;
}
}

@media (max-width: 992px){
.links-content  a {
font-size: 50px !important
}
}
.landing{
background: url(../images/bg.jpg);
height: 100vh;
background-size: cover;
position: relative;
background-position: center;

}

.landing:before{
content: '';
position: absolute;
width: 100%;
height: 100%;
background: #555;
opacity: 0.3
}

.landing .container{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
z-index: 765;
color: #fff
}

.landing .container h1{
font-size: 60px;
font-weight: normal;
margin-bottom: 30px;
}



.landing .container p{
width: 90%;
margin:40px auto;
font-size: 20px
}

.landing .container a{
	padding: 20px;
	background: var(--main-color);
	color: #ffff;
	border: 2px solid #fff;
	transition: 0.4s;
	border-radius: 4px
}


.landing .container a:hover{
background: #fff;
color: var(--main-color);

}

section{
padding: 80px 0;
background: #fff
}

.services{
position: relative;
}

.services .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap:30px;
}


.services .container .serv{
text-align: center;
padding: 20px
}

.services .container .serv i{
width: 100px;
height: 100px;
font-size: 40px;
border-radius: 50%;
border: 1px solid #ccc;
color: var(--main-color);
display: flex;
justify-content: center;
align-items: center;
margin: auto;
margin-bottom: 40px
}

section.darker{
background: #fbfbfb
}
.services .container .serv h3{
font-size: 30px;
font-weight: normal;
margin-bottom: 30px;
}

.services .container .serv p{
line-height: 1.7;
color: #777;
width: 100%
}

@media (max-width: 500px){
.services .container , .portfolio .container .content{
grid-template-columns: repeat(auto-fill,minmax(200px , 1fr));
}
.services .container .serv{
padding: 20px !important
}
.landing h1{
font-size: 30px !important
}
}


.heading{
text-align: center;
font-size: 35px;
margin-bottom: 20px;
font-weight: normal;
}

.heading +p{
text-align: center;
max-width: 100%;
margin-bottom: 70px;
color: #777;
}

.portfolio .container .content{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap:30px;
}

.portfolio .container .card img{
	max-width: 100%
}

.portfolio .container .card{
	position: relative;	
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio .container .card #add{
	position: absolute;
	font-size: 45px;
	color: #fff;
	cursor: pointer;
	background: var(--main-color);

	cursor: pointer;
font-weight: 900;
opacity: 0;
transition: 0.3s;
height: 50px;
display: flex;justify-content: center;
align-items: center;
padding: 5px
}

.portfolio .container .card:before{
position: absolute;
content: '';
background: #000;
width: 100%;
height: 100%;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
opacity: 0;
transition: 0.3s
}

.portfolio .container .card:hover:before {
opacity: 0.3;
}


.card:hover #add{
opacity: 1 !important
}

.contact .container{
display: flex;
flex-wrap: wrap;
}

.contact .container .frame{
width: 100%
}

.contact .container .frame .iframe{
width: 100%;
max-width: 100%;
margin-bottom: 50px
}

.contact .container .form{
flex-grow: 1;
width: 70%;
perspective: 30px;

}

textarea{
width: 100%;
height: 300px;
padding: 10px;
font-size: 20px
}


input{
font-size: 20px;
padding: 15px;
transition: 0.5s;
background: #ddd;
width: 100%;
margin-bottom: 20px
}

textarea{
width: 100%;
height: 250px;
background: #ddd
}

.form button.send{
width: 100%;
padding: 15px;
margin-top: 10px;
background: var(--main-color);
color: #fff;
text-transform: uppercase;
font-size: 19px;
cursor: pointer;
}

.address{
width: 30%;
padding: 0 40px;
text-align: center;
}
.address h4{
	margin-bottom: 25px;
	color: #777;
	font-size: 22px;
	font-weight: normal;
}

.address h4 + p{
margin-bottom: 30px;
color: #111;
line-height: 1.6;
}

@media (max-width: 992px){
.contact .container{
	flex-direction: column;
}
.form{
width: 100% !important ; 
margin-bottom: 30px;
}
.address{
width: 100% !important
}
}

footer{
	background: #666;
}

footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


footer .container .text{
display: flex;
flex-direction: column;
gap:30px;
}
footer .container .text span{
color: #fff
}
footer .container .text span a{
color: var(--main-color);
font-weight: bolder;
margin-left: 10px
}

footer .container .social{
position: relative;
top: -30px
}

@media (max-width: 767px){
footer .container{
flex-direction: column;
}
footer{
padding: 40px 0 0 ;
max-width: 100%
}
}


.active{
background: #555;
padding: 5px 20px
}